.videoContainer {
  position: relative;
  width: 100%;
  max-width: 800px;
  aspect-ratio: 16/9;
}

.videoContainer iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}
