.main {
    margin: auto;
    padding: 1rem;
    max-width: var(--body-max-width);
    background: var(--background-alpha);
    background-blend-mode: var(--backdrop-blend);
    backdrop-filter: blur(10px);
    border-radius: 0.8em;
}
