:root {
    --tag: #dfdede;
}

:global(.dark) {
    --tag: #363636;
}

.post {
    width: 100%;
    color: inherit;
    text-decoration: none;
    background-color: var(--background-tinted);
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 18px 25px;
    border-radius: 17px;
    font-size: 20px;
}

.post:visited {
    color: inherit;
}

.with_image {
    position: relative;
    justify-content: space-between;
    overflow: hidden;
    min-height: 470px;
    background-position: center;
    background-size: cover;
}

.with_image::before {
  content: '';
  position: absolute;
  inset: 0;
  background-image: var(--thumb);
  background-size: cover;
  background-position: center;
  opacity: 0.1;
  z-index: 0;
  pointer-events: none;
}


.post * {
    margin: 0;
    padding: 0;
}

.post h1 {
    font-size: 32px;
}

.post div {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    font-weight: 100;
}

.tag {
    padding: 6px 14px;
    border-radius: 13px;
    background-color: var(--tag);
    opacity: 0.3;
}

.tag:first-child {
    opacity: unset;
}

.details {
    justify-content: space-between;
}
