.releaseCardLink {
    text-decoration: none;
    color: inherit;
}

.releaseCard {
    border: none;
    padding: 5px;
    background: var(--background-tinted);
    flex-direction: column;
    width: fit-content;
    display: flex;
    gap: 0.5em;
    padding-bottom: 0.4em;
    align-items: center;
    border-radius: 0.5em;
    overflow: hidden;
}
