.blogog {
    display: flex;
    flex-direction: column;
    background: var(--background-tinted);
    width: 1200px;
    height: 700px;
    padding: 44px 54px;
    justify-content: space-between;
    overflow: hidden;
    box-shadow: inset 0px 11px 85px -30px rgba(0, 0, 0, 1);
    position: absolute;
    top: 50%;
    left: 50%;
    transform-origin: center;
    transform: translate(-50%, -50%)
               scale(max(calc(100cqw / 1200px), calc(100cqh / 700px)));
}

.blogog::before {
    content: '';
    position: absolute;
    inset: 0;
    background-image: var(--_bg-image);
    background-size: cover;
    background-position: center;
    opacity: 0.10;
    z-index: 0;
}

.blogog > * {
    position: relative;
    z-index: 1;
}

.blogog * {
    margin: 0;
    padding: 0;
}

.blogog h1 {
    font-size: 64px;
    text-transform: uppercase;
}

.blogog h2 {
    font-size: 32px;
    font-weight: 300;
}

.blogog > div:last-child {
    display: flex;
    width: 100%;
    justify-content: space-between;
    font-size: 32px;
    font-weight: 100;
    font-variation-settings: "wdth" 90;
}

.blogogwrapper {
    container-type: size;
    position: relative;
    overflow: hidden;
    width: 100%;
    aspect-ratio: 12 / 7;
}
