.cover {
    display: block;
    width: 100%;
    height: auto;
    min-width: 0;
    position: relative;
}

.coverPlaceholder {
    position: absolute;
    color: inherit;
    color: #cccccc;
    inset: 0;
}

:global(.dark) .coverPlaceholder {
    color: #3B3B3B;
}

button:hover .coverPlaceholder {
    color: #FFF;
}

:global(.dark) button:hover .coverPlaceholder {
    color: #000;
}
